@model MusicJPlayer.Models.MusicInfo

@{
    ViewBag.Title = "Upload Successful";
}

<section>
    <div class="container">
        <div class="row fh5co-feature-1">
            <div class="col-md-12">
                <h2 class="fh5co-uppercase-heading-sm text-center">Feature Image with text and icons</h2>
            </div>
            
            <div class="col-md-5 col-md-offset-1 col-sm-6 fh5co-feature-figure">
                <img src="~/CoverArts/@Model.CoverArt" alt="cover art" class="img-responsive" />
                @*<img src="images/macbook_1.png" alt="Image" class="img-responsive">*@
            </div>
            <div class="col-md-6 col-sm-6 fh5co-feature-blurb">
                <ul>
                    <li>
                        <span class="fh5co-feature-blurb-icon"><i class="ti-headphone-alt"></i></span>
                        <div class="fh5co-feature-blurb-text">
                            <h2 class="fh5co-feature-blurb-title h4 text-uppercase">Title</h2>
                            <p class="fh5co-feature-blurb-description">@Html.DisplayFor(model => model.Title)</p>
                        </div>
                    </li>
                    <li>
                        <span class="fh5co-feature-blurb-icon"><i class="ti-mobile"></i></span>
                        <div class="fh5co-feature-blurb-text">
                            <h2 class="fh5co-feature-blurb-title h4 text-uppercase">Artist</h2>
                            <p class="fh5co-feature-blurb-description">@Html.DisplayFor(model => model.Artist)</p>
                        </div>
                    </li>
                    <li>
                        <span class="fh5co-feature-blurb-icon"><i class="ti-blackboard"></i></span>
                        <div class="fh5co-feature-blurb-text">
                            <h2 class="fh5co-feature-blurb-title h4 text-uppercase">Description</h2>
                            <p class="fh5co-feature-blurb-description">@Html.DisplayFor(model => model.Description)</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
    </div>
</section>

